$( ".form-index-comment" ).append( "<div class='container-comments'>" +
                      "<%= escape_javascript link_to gravatar_for(current_user, size: 50), current_user, id: 'gavatar-post-comment' %>" +
                      "<span class='comment-index'>" +
                        "<div>" +
                          "<%= escape_javascript link_to current_user.name, user_path(current_user), id: 'name-comment' %>" +
                        "</div>" +
                        "<p id='content-comment'><%= params[:comment][:content] %></p>" +
                      "</span>" +
                    "</div>" );
$(".input-comment").val('');
