section { overflow: auto; }
textarea { resize: vertical; }
.center { text-align: center; }
.center h1 { margin-bottom: 10px; }
body {background-color: #F0F2F5;}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #fff;
  text-decoration: none;
}

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
}
 
input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.checkbox {
  margin-bottom: 10px;
  margin-top: 10px;
 
  span {
    font-weight: normal;
    margin-left: 20px;
  }
 }
 
#session_remember_me {
  margin-left: 0;
  width: auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid gray-lighter;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}
 
span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
  .content {
    display: block;
    margin: 2px;
    font-size: 13px;
    font-weight: 400;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: gray-light;
    display: block;
    margin-left: 50px;
    color: #65676B;
    font-size: 12px;
  }
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-menu{
  background-color: var(--bs-body-color);
}

.nav-link a {
  color: #fff;
}

.gravatar {
  float: left;
  margin-right: 10px;
}
 
.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}
 
.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}
 
.users.follow {
  padding: 0;
}

#gavatar-post img{
  border-radius: 30px;
  height: 40px;
  width: 40px;
}

#micropost-feed-home{
  background-color: #fff;
  height: 55px;
  width: 500px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
}

#post-home{
  background-color: #fff;
  height: 100%;
  width: 500px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 15px;
}

.name-user-home-post a {
  font-size: 15px;
  text-decoration: none;
  color: #2C0505;
  font-weight: 600;
}

.container-comment {
  height: 40px;
}

#gavatar-post-comment img{
  border-radius: 30px;
  height: 32px;
  width: 32px;
  margin-left: 2px;
  margin-top: 0px;
}

.input-comment{
  width: 426px;
  background-color: #F0F2F5;
  border-radius: 15px;
  font-size: 13px;
}